*.a
*.o
*.swp
.ninja_deps
.ninja_log
.qmake.cache
.qmake.stash
.qt
/*.gcda
/*.gcno
/*.gcov
/.cmake/
/.vs/
/.vscode/
/GPSBabel
/GPSBabel[0-9]*.[0-9]*.[0-9]*.tar.bz2
/GPSBabel[0-9]*.[0-9]*.[0-9]*/
/Makefile
/autogen/
/autom4te.cache/
/babelweb/
/bld/
/bld-clazy/
/bld-sanitizeaddress/
/bld-sanitizeundefined/
/bld-tidy/
/build/
/codacy-clang-tidy
/compile_commands.json
/config.h
/config.log
/config.status
/cscope.out
/debug/
/empty
/gbversion.h
/gpsbabel
/gpsbabel-debug
/gpsbabel.exe
/gpsbabel.fo
/gpsbabel.gch/
/gpsbabel.html
/gpsbabel.pdf
/gpsbabel.rc
/gpsbabel_autogen/
/gpsbabel_coverage.xml
/makedoc
/makelinuxdist.sh
/mkcapabilities
/objects/
/out/
/qrc_gpsbabel.cpp
/release/
/run-clang-tidy-nocolor
/tmp/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing
build.ninja
cmake_install.cmake
rules.ninja
