/autom4te.cache/
/babelweb/
/bld/
/bld-clazy/
/bld-sanitizeaddress/
/bld-sanitizeundefined/
/bld-tidy/
/build/
/codacy-clang-tidy
/compile_commands.json
/config.h
/config.log
/config.status
/cscope.out
/debug/
/gpsbabel
/gpsbabel-debug
/gpsbabel.exe
/gpsbabel.fo
/gpsbabel.html
/gpsbabel.pdf
/gpsbabel_autogen/
/gpsbabel_coverage.xml
/makedoc
/makelinuxdist.sh
/mkcapabilities
/objects/
/out/
/qrc_gpsbabel.cpp
/release/
/run-clang-tidy-nocolor
/tmp/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
/GPSBabel[0-9]*.[0-9]*.[0-9]*/
/GPSBabel[0-9]*.[0-9]*.[0-9]*.tar.bz2
/makelinuxdist.sh
/objects/
/release/
*.swp
/tmp/
/mkcapabilities
/gpsbabel.gch/
/gpsbabel.rc
/autogen/
/makedoc
/empty
/gbversion.h
/qrc_gpsbabel.cpp
/.vscode/
Testing
