/autom4te.cache/
/babelweb/
/compile_commands.json
/config.h
/config.log
/config.status
/cscope.out
/gpsbabel
/gpsbabel-debug
/gpsbabel_coverage.xml
/gpsbabel.exe
/gpsbabel.fo
/gpsbabel.html
/gpsbabel.pdf
/Makefile
/.qmake.cache
/.qmake.stash
/GPSBabel
/*.gcda
/*.gcno
/*.gcov
*.o
/GPSBabel[0-9]*.[0-9]*.[0-9]*/
/GPSBabel[0-9]*.[0-9]*.[0-9]*.tar.bz2
/Makefile
/makelinuxdist.sh
/objects/
*.swp
/tmp/
/Makefile
/Makefile
/mkcapabilities
/gpsbabel.rc
/autogen/
/makedoc
/empty
