language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      compiler: gcc
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      compiler: clang
    - os: osx
      compiler: clang
      cache:
        directories:
          - $HOME/Qt
    - os: linux
      dist: trusty
      sudo: required
      compiler: gcc
      env:
        - GEN_COVERAGE="true"
      addons:
        apt:
          packages:
            - libusb-dev
            - gcovr

install:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then source ./tools/travis_install_osx; fi
  - if [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${GEN_COVERAGE}" = "true" ]; then ./tools/travis_install_linux_coverage; fi 

script:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${GEN_COVERAGE}" != "true" ]; then ./tools/travis_script_linux_docker; fi 
  - if [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${GEN_COVERAGE}" = "true" ]; then ./tools/travis_script_linux_coverage; fi 
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then ./tools/travis_script_osx; fi

after_success:
  - cd ${TRAVIS_BUILD_DIR}
  # only deploy pushes to master or prs that target master.  the prs will go to transfr.sh, the pushes go to github.
  - if [ "${TRAVIS_OS_NAME}" = "osx" ] && [ "$TRAVIS_BRANCH" = "master" ]; then bash ./tools/uploadtool/upload.sh  gui/objects/GPSBabel-*.dmg; fi

branches:
  except:
    - /^(?i:continuous)$/  # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous.*windows)$/  # Do not build tags that we create when we upload to GitHub Releases

