[Desktop Entry]
Type=Application
Name=GPSBabel
Comment=Qt GUI interface for GPSBabel
GenericName=GPSBabel
Icon=${SNAP}/meta/gui/gpsbabelfe.png
Exec=gpsbabel.gpsbabelfe
Terminal=false
Categories=Geography;Education;Utility;
